
<ul class="entityList" >
        <li>= Ensemble name: {{ ensemble.name }}</li>
            <li>Members: {{ ensemble|length }}</li>
            {% if ensemble.params %}
            <li>Ensemble parameters:</li>
            <ul class="entityList">
                {%- for key, value in ensemble.params.items() %}
                <li>{{ key }}: {{ '{:^9}'.format(value|string)|truncate(81,true,'...')}}</li>
                {%- endfor %}  
            </ul>   
            {% endif %} 

    {% if verbosity_level == 'info' %}
        {%- set model = ensemble.models[0] %}
        <li class="inline">--&nbsp;</li>{% include 'preview/model_html.template' %}
        <li>--</li>

        <li>...</li>

        {% set model = ensemble.models[(ensemble.models | length)-1] -%}  
         <li class="inline">--&nbsp;</li>{% include 'preview/model_html.template' %}
        <li>--</li>
    {% else %}
        {%- for model in ensemble %}
        <li class="inline">--&nbsp;</li>{% include 'preview/model_html.template' %}
        <li>--</li>
        {%- endfor %}
        {% endif %}
        {%- set model = ensemble.models[0] -%}
        {% if manifest.dbs or model.run_settings.colocated_db_settings %}
        {%- include "preview/clientconfig.template" %}
        {% endif -%}
        <li>=
</ul>
